<footer id="sticky-footer">
    <div ng-controller="loginCtrl">
        <div class="footer-style navbar navbar-fixed-bottom" ng-if="algn">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#!/product-list">Products</a>
                    ·
                    <a href="#!/cart">Cart</a>
                </p>
                <p class="footer-company-name">Company Name &copy; 2017</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <p><span>Address</span> City, Country</p>
                    <i class="glyphicon glyphicon-phone"></i>
                    <p>Phone number</p>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>

            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Text
                </p>
            </div>
        </div>
    </div>
</footer>